<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="/js/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
        });

        function drawRegionsMap(requisicao) {

            let arrayData = [];
            arrayData.push(['Country', 'Popularity']);

            for (let i = 0; i < requisicao.length; i++) {
                arrayData.push([requisicao[i].geoName, requisicao[i].value[0]]);
            }

            var data = google.visualization.arrayToDataTable(
                arrayData
            );

            var options = {
                colorAxis: { colors: ['#e7711c', '#4374e0'] }
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }


    </script>
</head>

<body>

    <h1>Google Trends API</h1>


    <form action="/pesquisa">
        <div>
            <label for="termo">Digite o termo:</label>
            <input name="termo" id="termo">
        </div>
    </form>


    <div id="regions_div" style="width: 800px; height: 400px;"></div>
    <button id="bt_gerar_grafico" onclick="drawRegionsMap(<%= JSON.stringify(maiores) %>)">Gerar Gráfico
    </button>

</body>

</html>