body {
    padding: 0;
    margin: 0;
    background-color: #416165;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #A3D9FF;
    margin-top: 5vh;
}

form {
    margin-top: 5vh;
}


form label {
    font-size: 16px;
    color: #A3D9FF;
    margin-right: 5px;
}

#regions_div {
    margin-top: 4vh;
    margin-bottom: 5vh;
}

#bt_gerar_grafico {
    background-color: #B288C0;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 15vh;
}